[Desktop Entry]
Type=Application
Name=Hominal Chrome Body
Exec=/usr/local/bin/hominal-chrome https://x.com/home https://en.wikipedia.org/wiki/Main_Page
Terminal=false
X-GNOME-Autostart-enabled=true
X-XFCE-Autostart-Override=true
